<div class="row">
	<div class="column grid_9">
	  <p>WTF Tracker is a simple <a href="http://www.sinatrarb.com/">Sinatra</a> app created to track
	  a <em>very special</em> code quality metric across an arbitrary set of projects.</p>
	  <p>This app is still in the early stages of development -- at the moment, it only lets you create and view a project.  I'll add more features as I get around to them.  If you'd like to contribute, you're welcome to fork <a href="https://github.com/geeksam/wtf">the Github repository</a>.</p>
	  <p>Happy hacking!<br />-Sam</p>
	</div>
	<div class="column grid_3">
	  <ul class="sidebar">
	    <li><a href="/projects">Create a project</a></li>
	    <li><a href="https://github.com/geeksam/wtf">Get teh codes</a></li>
	    <li><a href="foo">The inspiration</a></li>
	  </ul>
	</div>
</div>

