<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>WTF Tracker</title>
	<link href="/stylesheets/grid.css" type="text/css" rel="stylesheet" media="screen"/>
	<link href="/stylesheets/wtf.css" type="text/css" rel="stylesheet" media="screen"/>

  <style type="text/css" media="screen">
    body { font: 12pt Helvetica; }
  </style>
</head>

<body>
  <div class="row">
  	<div class="column grid_12">
  	  <h1 id="masthead"><a href="/">WTF Tracker</a></h1>
  	</div>
  </div>
  <%= yield %>
</body>
</html>
