<form action="/projects" method="post" accept-charset="utf-8">
  <p>
    <label for="project_name">Name:</label><br />
    <input type="text" name="project[name]" value="" id="project_name">
  </p>
  <p>
    <label for="project_slug">Slug:</label><br />
    <input type="text" name="project[slug]" value="" id="project_slug">
  </p>
  <p>
    <input type="submit" value="Create Project">
  </p>
</form>
